    <footer class="footer">
	    <div class="container">
	        <nav class="pull-left">
	            <ul>
					<li>
						 <a href="{{ 'home'|page }}">
							Framsida
						</a>
					</li>
					<li>
						 <a href="{{ 'om'|page }}">
						   Om oss
						</a>
					</li>
					<li>
						<a href="http://blog.creative-tim.com">
						   Blog
						</a>
					</li>
					<li>
 <a href="{{ 'home'|page }}">							Contact
						</a>
					</li>
	            </ul>
	        </nav>
	        <div class="copyright pull-right">
	            2016 <i class="fa fa-heart-o text-info"></i> Ekstremedia
	        </div>
	    </div>
	</footer>